.banner {
    text-align: center;
}

#nav {
    text-align: center;
}

#cta {
    text-align: center;
}

header {
    background-color: #f5f5f5;
}

.btn-primary {
    background-color: #eb5050 !important;
    border-color: #eb5050 !important;
    padding: .90rem !important;
    padding-left: .50rem !important;
    padding-right: .50rem !important;
    font-size: .95rem !important;
}

.btn-primary:hover {
    background-color: #C74444 !important;
    border-color: #C74444 !important;
    padding: .105rem !important;
    font-size: .95rem !important;
}


/* Mobile properties */

@media (max-width: 767px) {
    .banner {

    }

    .btn-primary{
        
    }
}