body {
    font-family: 'Poppins', sans-serif;
}

.banner {
    text-align: center;
}

.banner-img {
    width: auto;

}

#cta {
    text-align: center;
}

#banner-contact {
    padding-top: 1.1em;
}

#banner-contact a:link {
    color: #eb5050;
    text-decoration: none;
}

#banner-contact a:hover {
    color: #1D344F;
    text-decoration: underline;
}

.contact-icon {
    padding-left: 5em;
    padding-right: 0.5em;
}

.btn-primary {
    background-color: #eb5050;
    border-color: #eb5050;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.55em;
}

.btn-primary:hover {
    background-color: #C74444;
    border-color: #C74444;
}

main {
    margin-right: 13em;
    margin-left: 13em;
    overflow-x: hidden;
    margin-top: 10em;
}

.greeting {
    background-color: #1D344F;
    background-image: url(../docs/assets/top-background.jpg);
    background-repeat: none;
    background-size: cover;
    padding-top: 30em;
    padding-bottom: 30em;
}

#quality-tag {
    text-align: center;
    font-size: 1.3em;
    letter-spacing: .2em;
    color:#C74444;
    text-shadow: 1px 1px  grey;
}

#tag-line {
    margin-top: 0.5em;
    text-align: center;
    font-size: 2.3em;
    letter-spacing: .05em;
    color:#2A4B73;
    text-shadow: 1px 1px  grey;
}

.mid-buttons {
    margin-top: 1em;
    text-align: center;
}

.left-button {
    background-color: #2A4B73;
}

.left-button:hover {
    background-color: #1D344F;
}

.right-button {
    background-color: transparent;
    border-color: #2A4B73;
    color:#2A4B73
}

.right-button:hover {
    background-color: #f5f5f5;
    color: #1D344F;
}

.services-header {
    text-align: center;
    font-size: 4em;
    letter-spacing: .2em;
    color: #2A4B73;
}

.services {
    margin-top: 10em;
}

.service-card {
    margin-bottom: 10em;
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.service-img {
    background-color: #1D344F;
}

.service-title {
    font-size: 2em;
    letter-spacing: 0.2em;
    color: #C74444;
}

.service-text {
    font-size: 1.2em;
    color: #2A4B73;
}

#owner-tag {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    font-size: 3.5em;
    letter-spacing: .1em;
}

.carousel-section {
    margin-top: 10em;
    height: 500px;
}

.carousel-item {
    height: 500px;
}

.carousel {
    background-color: #1D344F;
}


/* Mobile properties */

@media (max-width: 1050px) {
    .btn-primary {
        padding: .35em;
        padding-left: .7em;
        padding-right: .7em;
        font-size: .90em;
    }

    .btn-primary:hover {
        padding: .35em;
        padding-left: .7em;
        padding-right: .7em;
        font-size: .90em;
    }

    .greeting {
        padding-top: 13em;
        padding-bottom: 13em;
    }

    .services {
        margin-top: 3em;
    }

    .services-header {
        font-size: 1.5em;
    }

    .service-card {
        margin-bottom: 3em;
    }
}

@media (max-width: 767px) {

    main {
        margin: 0em;
    }

    #cta {
        display: none;
    }

    #quality-tag {
        text-align: center;
        font-size: 0.9em;
        letter-spacing: .2em;
        color:#C74444;
    }

    #tag-line {
        margin-top: 0.5em;
        text-align: center;
        font-size: 1.5em;
        letter-spacing: .05em;
        color: #2A4B73;
    }

    .mid-buttons {
        margin-top: 1em;
        text-align: center;
    }

    .left-button {
        background-color: #2A4B73;
        padding: .35em;
        padding-left: .7em;
        padding-right: .7em;
        font-size: .90em;
    }

    .left-button:hover {
        background-color: #1D344F;
    }

    .right-button {
        background-color: transparent;
        border-color: #2A4B73;
        color:#2A4B73;
        padding: .35em;
        padding-left: .7em;
        padding-right: .7em;
        font-size: .90em;
    }

    .right-button:hover {
        background-color: #f5f5f5;
        color: #1D344F;
    }

    .greeting {
        padding-top: 15em;
        padding-bottom: 15em;
    }

    .services {
        margin-top: 4em;
    }

    .services-header {
        font-size: 2em;
    }

    .service-card {
        margin-bottom: 5em;
    }
}

