.banner {
    text-align: center;
    background-color: #f5f5f5;
}

#nav {
    text-align: center;
    background-color: #f5f5f5;
    margin: 0%;
}

#cta {
    text-align: center;
    background-color: #f5f5f5;
}