.banner {
    text-align: center;
}

#nav {
    text-align: center;
}

#nav a {
    color: #eb5050 !important;
}

#nav a:hover {
    color: #C74444 !important;
}

#cta {
    text-align: center;
}

header {
    background-color: #f5f5f5;
}

.btn-primary {
    background-color: #eb5050 !important;
    border-color: #eb5050 !important;
    padding: .5rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    font-size: 1.25rem !important;
}

.btn-primary:hover {
    background-color: #C74444 !important;
    border-color: #C74444 !important;
    padding: .5rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    font-size: 1.25rem !important;
}


/* Mobile properties */

@media (max-width: 990px) {
    .btn-primary {
        padding: .35rem !important;
        padding-left: .7rem !important;
        padding-right: .7rem !important;
        font-size: .90rem !important;
    }

    .btn-primary:hover {
        padding: .35rem !important;
        padding-left: .7rem !important;
        padding-right: .7rem !important;
        font-size: .90rem !important;
    }
}

@media (max-width: 767px) {

    #nav {
        display: none;
    }

    #cta {
        display: none;
    }
}